*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 160%;
}
:root{
    --color-mainpPage:#D27722;
   
}
img{
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    
}
.icon-header{
    width: 24px;
    height: 24px;
}
.font-heading{
    font-family: 'Rubik', sans-serif;
}
.font-text{
    font-family: 'Outfit',sans-serif;
}
header >.header-left{
    display: flex;
    align-items: center;
    
}

.header-left .header-logo{
    margin: 0 10px;
}

.header-left .header-nav-button >.header-btt-text{
    color: black;
    margin: 0 10px;
    font-weight: 700;
}

header .header-right{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.header-right .menu-button{
    
    width: 2rem;
    height: 2rem;
    background-color: var(--color-mainpPage);
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    padding: 8px;
    display: none;
}
.space{
    padding: 10px 15px;
    cursor: pointer;
}
.currency{
    position: relative;
}

.drop-down{
    position: absolute;
    display: none;
    width: max-content;
    padding: 10px;
    border: 1px #D27722 solid;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 8px 0px rgba(0, 0, 0, 0.10), 0px 15px 15px 0px rgba(0, 0, 0, 0.09), 0px 33px 20px 0px rgba(0, 0, 0, 0.05), 0px 59px 23px 0px rgba(0, 0, 0, 0.01), 0px 92px 26px 0px rgba(0, 0, 0, 0.00);
}
.currency:hover .drop-down{
    display: block;
}
.fa-caret-down{
    margin: 5px;
    color: #D27722;
}
.fa-circle-info{
    color: #D27722;
    display: block;
    padding: 5px 20px;
    border: 0 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}
.drop-down-header{
    margin: 5px 0;
    font-family: 'Outfit',sans-serif;
}
.drop-down-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.drop-down-item-li{
    display: inline-block;
    padding: 5px 10px;
    border-bottom: 1px solid #FFDBB8;
    cursor: pointer;
}
.drop-down-item-li:first-child{
    background-color: #FFDBB8;
}
.header-right .header-right-login{
    padding: 8px 15px;
    color: white;
    background-color: #D27722;
    border-radius: 4px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    border: none;
    gap: 5px;

}


.container{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.container .cont-slide{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
}
.container .cont-slide-left {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
width: 50%;
}
.expert{
    color: #D27722; 
    font-family: 'Pacifico';

font-size: 61px;
font-style: normal;
font-weight: 700;
line-height: 113.3%;
letter-spacing: -2.44px;
}

.cont-slide-left .left-text-one{
    color:  #252422;
font-size: 61px;
font-style: normal;
font-weight: 700;
line-height: 113.3%; /* 69.113px */
letter-spacing: -2.44px;
}
.cont-slide-left .left-text-two{
    /* width: 533px; */
    color:  #403D39;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
}
.cont-slide-right{
    width: 50%;
}
/* end cont-slide */
.landing-start{
    display: flex;
    width: 80%;
    margin:  50px auto ;
    justify-content: space-around;
    background-color: #fffdf4;

}
.landing-start .landing-item{
    padding: 20px 50px;
flex-direction: column;
align-items: center;

}
.landing-item .landing-text{
    color: #D27722;
font-family: Rubik;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.8px;
}
/* end landing-start */
.export-learn{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explore-left{
    display: flex;
    gap: 10px;
}
.explore-right{
    display: flex;
    gap: 10px;
}
.explore-left .explore-h3{
    color: #252422;
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 113%;
    font-family: 'Rubik', sans-serif;
}


.categories{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 24px;
    justify-content: center;
}

.categori-items{
    width: 30%;
    display: flex;
    padding: 24px 34px;
    gap: 10px;
    border-radius: 16px;
    border: #D27722 1px solid;
    
}
.fa-square-arrow-up-right{
    color: #D27722;
}
.item-header-text{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Rubik',sans-serif;
}
.categori-items:hover{
    background-color: #D27722;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}
.cate-logo-item{
    width: 30%;
    display: flex;
    align-items: center;
}
.cate-logo-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.item-header{
    display: flex;
    justify-content: space-between;
}
.benefit{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.benefit-logo{
  
display: flex;
width: 100px;
height: 100px;
padding: 25px;
align-items: flex-start;
gap: 10px;
background-color: #D27722;
border-radius: 50px;
}
.benefit-text{
    text-align: center;
font-family: Rubik;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #252422;
}
.benefit-landing{
    display: flex;
width: 80%;
margin: 30px auto;
justify-content: center;
align-items: center;
gap: 15px;
}
.benefit-landing .benefit-item{
    display: flex;
    width: 30%;
flex-direction: column;
align-items: center;
gap: 27px;
flex: 1 0 0;

}
.benefit-item .item-title{
    font-family: Rubik;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #252422;
}

.far{
    font-size: 40px;
    color: #D27722;
}
.illustrasion{
    width: 80%;
    margin: 50px auto;
    display: flex;
}
.illus-right{
    margin: 0 30px;
    /* order: 1; */
    width: 55%;
    gap: 15px;
    display: flex;
    padding: 10px 40px;
    flex-direction: column;
}
.illustrasion .illus-left{
    
    margin: 0 30px;
    width: 40%;
}
.img-iluus{
    position: relative;
}
.illustrasion .review-img{
    display: flex;
    position: absolute;
    bottom: -25px;
    left: -70px;
width: 284px;
padding: 24px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
transform-origin: bottom left;
  transform: scale(1);
  transition: transform 0.3s;
border-radius: 16px;
color: #fff;
background:  var(--color-mainpPage);
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 9px 9px 0px rgba(0, 0, 0, 0.04), 0px 20px 12px 0px rgba(0, 0, 0, 0.03), 0px 35px 14px 0px rgba(0, 0, 0, 0.01), 0px 55px 15px 0px rgba(0, 0, 0, 0.00);
}

.illus-right .illus-right-item{
    display: flex;
padding: 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
border-radius: 16px;
border: 1px solid #FFDBB8;
background: #fff;
}

.how-work{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.how-left{
    display: flex;
}
.fa-magnifying-glass{
    color: #D27722;
}


.explore-our{
    display: flex;
    height: max-content;
    width: 80%;
    margin: 5rem auto;
    justify-content: center;
}
.explore-img{
    position: relative;
    margin-right: 20px;
}
.explore-num-1{
    position: absolute;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-mainpPage);
    border-radius: 10px;
    color: #fff;
    font-size: 49px;
    font-family: fantasy;
    
    
}
.explore-content{
    width: 40%;
    text-align: start;
}
.explore-btt{
    display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 4px;
background-color: var(--color-mainpPage);
border: none;
color: #fff;
}

.space{
    margin: 10px 0;

}
.lineheight{
    line-height: 160%;
}

.frame-56{
    width: 35%;
    padding-top: 30px;
    margin: 40px auto;
    background-color: #FFFDF4;
    position: relative;
    border-radius: 5px;
}
.text-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-size: 18px;

}
.logo-frame{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #D27722;
    border-radius: 111px;
    align-items: center;
    padding: 25px;
    left: 40%;
    top: -55px;
}

.frame-70{
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: center;
    gap: 20px;

}
.frame-70 .frame-left {
    width: 45%;
}
.frame-check{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}
.check-item{
    float: left;
}
.check-item .fr70-boild{
    font-weight: 700;

}
.fa-circle-check{
   
    color: #D27722;
}
.frame-left>button{
    padding: 15px 10px;
    background-color: #D27722;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.frame-80{
    display: flex;
    width: 80%;
    margin: 50px auto;
    border-radius: 22px;
    overflow: hidden;
    background-color: #D27722;
}
.frame80-right{
    width: 60%;
    padding: 30px;
    
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.frame80-left{
    width: 40%;
    display: flex;
}
.check-white{
    color: #FFFDF4;
}

.news{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
    
}

.hastag-tittle{
    display: flex;
    margin: 30px 0;
    gap: 10px;
}
.tag-name{
    list-style: none;
    display: flex;
    width: 330px;
    flex-wrap: wrap;
}
.list-item{
    padding: 5px;
    margin: 5px;
    background-color: #FFFDF4;
    color: #D27722;
    border: 1px solid #FFDBB8;
    border-radius: 15px;
    cursor: pointer;

}
.img-blog{
    width: 50%;
}
.blog-tittle{
    display: flex;
    margin: 30px 0;
    gap: 10px;
}

.blog-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.blog-content-item{
    width: 40%;
    margin: 5px;
    border: 1px solid #D27722;
    border-radius: 16px;
    overflow: hidden;
}

.calender{
    display: flex;
    align-items: center;
    padding: 10px;
}
.describle-title{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Rubik', sans-serif;
   
}

.footer{
    background-color: #D27722;
    width: 80%;
    margin: 0 auto;
    bottom: 0;
    color: #fff;
    border-radius: 16px 16px 0 0 ;
    padding: 30px;
    position: relative;
}

.about{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #FFDBB8;
    padding: 10px;
}
.about-infor{
    display: flex;
}
.about-infor-item{
    margin: 0 20px;
}
.text-logo{
    color: #FFDBB8;
}
.color-p-about{
    color: #FFDBB8;
    font-family: 'Outfit', sans-serif;
}

.contact-footer{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 30px;
    
}
.social-media{
    display: flex;
}
.about-footer-text{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.about-h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 0;
    font-family: 'Outfit', sans-serif;
}
.phone{
    text-align:center;
}
